.chat_app{ class: chat_css_class }
  .chat_windows
    %ul.mb-0#messages{ data: { class_room_id: class_room.uuid }}
      - if messages.exists?
        = render partial: 'messages/message', collection: messages, locals: { profile: profile }, chached: true
      - else
        .no-messages.bg-light-indigo
          = t('messages.no_messages')
    .chat-message.clearfix
      = render 'messages/message_form', class_room: class_room, profile: profile