<div class="bg-indigo-darker text-purple-lighter flex-none w-1/3 pb-6 hidden md:block">
    <ul class="flex flex-col mt-4 space-y-2 overflow-y-auto" style="height:400px">
      <% if @class_rooms.any? %>
        <%- @class_rooms.each do |class_room|%>
          <%= render 'students/chats/profile_card', profile: class_room.student_profile, class_room: class_room, url: tutors_chat_path(class_room) %>
        <% end %>
      <% else %>
        <li class="flex flex-row items-center relative p-2 rounded m-auto">
          <div class="p-2 bg-indigo-400 items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex">
            <span class="mr-2 text-left flex-auto">
              У вас поки що немає чатів...
            </span>
          </div>
        </li>
      <% end %>
    </ul>
</div>