<div class="pb-6 px-4 flex-none">
  <%= form_with(model: Message.new, url: class_room_messages_path(class_room), html: { id: 'new_message', class: 'flex rounded-lg border-2 border-grey overflow-hidden' }) do |f| %>
    <%= f.hidden_field :profile_id, value: profile.id %>

    <%= f.text_area :body, class: 'w-full shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', required: true, data: { behavior: 'room_speaker' }, type: 'text', placeholder: t('messages.form_placeholder') %>

    <span class="text-3xl text-grey border-l-2 border-grey p-2">
      <button type="submit">
        <svg class="fill-current h-6 w-6 block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6.3 12.3l10-10a1 1 0 0 1 1.4 0l4 4a1 1 0 0 1 0 1.4l-10 10a1 1 0 0 1-.7.3H7a1 1 0 0 1-1-1v-4a1 1 0 0 1 .3-.7zM8 16h2.59l9-9L17 4.41l-9 9V16zm10-2a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2h6a1 1 0 0 1 0 2H4v14h14v-6z"/></svg>
      </button>
    </span>
  <% end %>
</div>