%li{ class: message_css_class(:own_by, message, profile) }
  .message
    %p{ class: message_css_class(:background, message, profile)}= message.body
    %span.time= message.message_time
    %span.read-status{ class: "#{message.read || is_read ? 'active' : ''}" }
      %i.fe.fe-check