<%= form_with url: url, method: :get do |f| %>
  <div class="form-group">
    <%= f.text_field :search, id: "search_chat", class: "focus:outline-none appearance-none border border-grey rounded-lg pl-8 pr-4 py-2 w-full" %>
  </div>
<% end %>