.card
  .card-body
    Пошук студентів
    .input-group.mt-2
      %input.form-control.search{:placeholder => "Search...", :type => "text"}/

%div{ class: "max-w-7xl mx-auto px-4 sm:px-6 md:px-8" }
  - if @students.any?
    #users.table-responsive
      %table.table.table-hover.table-vcenter.text-nowrap.table_custom.list
        %tbody
          - @students.each do |student|
            = render 'student_profile', student: student
  - else
    .pt-10.text-center
      %div{ class:"p-2 bg-indigo-400 items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex" }
        %span{ class: "mr-2 text-left flex-auto" }= t('tutors.students.index.no_students')