<%= render 'tutors/student_profiles/search_form' %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
  <table class="table table-hover table-vcenter text-nowrap table_custom list">
    <tbody id="tutor-table-students">
      <%= render 'tutors/student_profiles/student_profiles_table_body', students: @students %>
    </tbody>
  </table>

  <%= render partial: 'layouts/partials/pagy', locals: { pagy: @pagy } %>
</div>
