@import '../base/colors';


::selection {
    color: $white;
    background: $brand-violet;
}
a,
.btn-link{
    color: $brand-violet;
}
.text-green,
.text-info,
.text-success,
.text-primary,
.text-warning,
.mail-star.active,
.page-title{ color: $indigo !important;}

.loader{
    color: $indigo;
}
.badge-primary{
    background-color: $indigo;
}
.btn-primary{
    background: $indigo;
    color: $white;
    border-color: $indigo;
}
.nav-tabs .nav-link.active{
    border-color: $brand-violet;
    color: $brand-violet;
}
.form-control{
    &:focus{
        box-shadow: 0 0 0 0.2rem rgba($indigo,.25);
    }
}
.card,
.dropify-wrapper,
.btn-primary{
    border: 0;
}
.bg-primary,
.bg-info,
.bg-warning,
.btn-success{
    background-color: $brand-violet !important;
    border: transparent;
}
.bg-success,
.badge-success,
.progress-bar,
.btn-warning{
    background-color: $indigo;
    border: transparent;
}

.btn-outline-primary{
    color: $indigo;
    border-color: $indigo;
    &:hover{
        background-color: $indigo;
        border-color: $indigo;
    }
}
.custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before,
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{
    border-color: $indigo;
    background-color: $indigo;
}
.selectgroup-input:checked+.selectgroup-button{
    border-color: $indigo;
    color: $indigo;
    background: rgba($indigo, 0.2);
}

.imagecheck-figure:before{
    color: $pink !important;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active,
.wizard > .actions a,
.wizard > .actions a:hover{
    background: $indigo;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover{
    background: rgba($indigo, 0.2);
    color: $indigo2;
}