= render 'tabs'

%div{ class: "max-w-7xl mx-auto px-4 sm:px-6 md:px-8" }
  .card
    .card-header.bline
      = t('tutors.details.schedule_header')
      .card-options
        %a.card-options-fullscreen{"data-toggle" => "card-fullscreen", :href => "#"}
          %i.fe.fe-maximize
    .card-body.p-10
      #calendar-tutor-schedule-form
      = render 'tutors/registrations/time_slots/delete_block'