<%= render 'tutors/students/favorites/search_form' %>

<div class="pt-2 pb-6 md:py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <h1 class="text-lg leading-6 font-medium text-cool-gray-900 mb-4">
      <%= t('tutors.students.favorites.title') %>
    </h1>
  </div>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8"></div>
      <div class="table-responsive" id="users">
        <table class="table table-hover table-vcenter text-nowrap table_custom list" id="favorites-students-table">
          <tbody>
            <% if @favorite_students.any? %>
              <% @favorite_students.each do |favorite_student| %>
                <%= render 'tutors/student_profiles/student_profile', student: favorite_student %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="7" class="px-6 py-4 bg-white">
                  <%= t('tutors.students.favorites.no_found') %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>
