<% if lessons.any? %>
  <% lessons.each do |lesson| %>
    <%= render 'tutors/lessons/table_line', lesson: lesson %>
  <% end %>
<% else %>
  <tr>
    <td colspan="7" class="px-6 py-4">
      <%= t('students.lessons.index.no_found') %>
    </td>
  </tr>
<% end %>