.row.clearfix
  .col-lg-9
    = render 'tutors/lessons/lesson_essentials', lesson: @lesson, profile: current_tutor_profile
  .col-lg-3
    = render 'tutors/student_profiles/student_card', student_profile: @lesson.student_profile