#calendar-dropdown-block {
  z-index: 99;
  display: none;
  position: absolute;

  & > .block-content {
    &.md {
      width: 200px;
    }

    border-radius: 2px;
    width: 340px;
    background-color: #fff;
    border: 1px solid #edeff0;
    box-shadow: 0 5px 25px 0 rgba(79, 79, 79, 0.1);

    padding: 20px;

    .btn {
      border-radius: 0;
    }
  }
}

.calendar-heading {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}

.c-time-slot-record {
  display: block;
  *vertical-align: auto;
  *zoom: 1;
  *display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  min-width: 2.375rem;
  padding: 3px;
  border-radius: 0px;
  border: 1px solid transparent;
  margin-bottom: 3px;
  position: relative;
  cursor: pointer;
  user-select: none;
  line-height: 1.5rem;

  &.free {
    color: #000000;
    --tw-bg-opacity: 1;
    background-color: rgba(224, 231, 255, var(--tw-bg-opacity));

    &:hover {
      border: 1px solid $indigo;
    }
  }

  &.booked {
    color: #7b7b7b;
    cursor: not-allowed;
    border: 1px solid #e0e7ff;
  }
}

#booking-calendar {
  table th:nth-last-child(-n + 2) {
    color: #7b7b7b;
  }
  table th {
    color: #000000;
    font-weight: 600;
  }
  table th,
  table td {
    padding: 2px;
    padding-bottom: 10px;
    text-align: center !important;
    border: none;
  }

  .btn.btn-default {
    padding: 3px 6px;
    border: none;
    font-size: 24px;
    color: #595959;
  }
}
