.card {
  &-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  &-details {
    justify-content: center;
    flex: 1 1 50%;

    @include media-breakpoint-down(md) {
      flex: 1 1 100%;
    }
  }

  &-button {
    color: white;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 220px;
    flex: 1 1 100%;

    a {
      box-shadow: 3px 3px 5px -2px #888;
      border-radius: 20px;
    }

    @include media-breakpoint-down(md) {
      margin-top: 15px;
      max-width: 100%;
    }
  }
}

.card-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1 0 0px;

  &--name {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 50%;
  }

  &--essentials {
    margin-top: 0px;
  }

  &--rating {
    display: inline;
    font-size: 14px;
    margin-left: 10px;

    svg {
      color: #fdc425 !important;
    }
  }

  &--rate {
    position: relative;
    font-size: 20px;
    display: inline;
    margin-right: 35px;

    .unit {
      position: absolute;
      top: -2px;
      width: 30px;
      right: -35px;
      font-size: 12px;
    }
  }
}

.block {
  display: block;
}