#c-tutors-search-box {
  #price-range_values {
    display: inline-block;
  }
}

.dropdown-content {
  padding: 20px;
}

.btn-rounded {
  border-radius: 20px;
}

#rating-form {
  margin-top: 1rem;
  img {
    display: inline;
  }
}

#review-rating {
  img {
    display: inline;
  }
}