.card {
  &-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include media-breakpoint-down(sm) {
      margin: 0 auto;
    }
  }

  &-button {
    float: right;
    color: white;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      display: block;
      float: none;
      a { width: 100%; }
    }
  }
}
