<div>
  <%= link_to t('tutors.homeworks.create'), new_tutors_subject_homework_preset_path(@subject) %>
</div>

<div>
  Домашки з предмету <%= @subject.name %>:
  <% @homeworks.each do |homework| %>
    <p><%= homework.subject_theme %></p>
  <% end %>
</div>
