<div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4 hidden" id="new-modal-content">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="mr-5 nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><%= t('modal_calendar.lesson') %></a>
      <a class="mr-5 nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><%= t('modal_calendar.vacation') %></a>
    </div>
  </nav>

  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <%= render 'tutors/calendars/new/lesson_form' %>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <%= render 'tutors/calendars/new/vacation_form' %>
    </div>
  </div>
</div>
