<div class="flex flex-col">
  <div class="overflow-x-auto">
    <div class="py-5 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <%= render 'students/lessons/attachments/table', lesson: lesson %>
      </div>
    </div>
  </div>
</div>