<div>
  <%= render 'students/tutor_profiles/tutor_info_card', tutor_profile: @tutor_profile, purpose: 'check_profile' %>

  <div class="card m-auto my-6 xl:w-3/6 md:w-3/4 w-11/12">
    <div class="card-header">
      <h3 class='card-title'>Виберіть предмет на час проведення уроку</h3>
    </div>
    <div class="card-body">
      <%= form_with(model: @lesson, url: students_tutor_booking_path(@tutor_profile), method: :post, html: { id: 'lesson-booking-form' }) do |f| %>
        <%= render 'students/tutors/bookings/lesson_fields', f: f, lesson: @lesson %>
      <% end %>
    </div>
  </div>
</div>
