#users.chat_list.section-white
  %h3{ class: 'text-2xl font-semibold text-gray-900' }= t("layouts.students.#{controller_name}.page_title")
  .input-group.mt-2.mb-2
    %input.form-control.search{:placeholder => "Search...", :type => "text"}/
  .tab-content
    - if class_rooms.any?
      #users-list
        %ul.right_chat.list-unstyled.list
          - class_rooms.each do |class_room|
            = render 'students/chats/profile_card', profile_plural: 'students', profile: class_room.tutor_profile, class_room: class_room, url: students_chat_path(class_room)
          -# %li.offline
          -#   %a{:href => "javascript:void(0);"}
          -#     .media
          -#       .media-body
          -#         %span.name Harry McCall
          -#         %span.message Well we have good budget
          -#         %span.badge.badge-outline.status
    - else
      .pt-5.text-center
        %div{ class:"p-2 bg-indigo-400 items-center text-indigo-100 leading-none rounded-full flex lg:inline-flex" }
          %span{ class: "mr-2 text-left flex-auto" } У вас поки що немає чатів...