<div class="flex items-center justify-center">
  <div class="flex flex-col w-full p-4">
    
    <div class="font-sans antialiased h-screen flex">
      <%= t('common.back') %>
      <%= render 'messages/contacts_students' %>
      <%= render 'messages/chat', class_room: @class_room, messages: @messages, target_profile: @class_room.opposet_profile_to(current_student_profile), profile: current_student_profile %>
    </div>
  </div>
</div>
