<div class="flex items-center justify-center">
  <div class="flex flex-col w-full p-4">
    <%= render 'breadcrumbs', class_room: @class_room %>

    <div class="chat-full-h flex">
      <div class="hidden lg:block w-width285px">
        <%= render 'tutors_list', class_rooms: @class_rooms %>
      </div>
      <%= render 'messages/chat', class_room: @class_room,
          messages: @messages, target_profile: @class_room.opposet_profile_to(current_student_profile),
          profile: current_student_profile, url: students_chat_path, class_room_path: tutors_chat_path(@class_room) %>
    </div>
  </div>
</div>
