.chat_app
  .row
    .col-lg-8.col-md-12
      .card.bg-none.b-none
        .card-header.bline
          %h3.card-title
            = @class_room.tutor_profile.name
            %small Last seen: 2 hours ago
          .card-options
            %a.p-1.chat_list_btn{:href => "javascript:void(0)"}
              %i.icon-list
            %a.p-1{:href => "javascript:void(0)"}
              %i.icon-settings
            %a.p-1{ href: students_chat_path(@class_room) }
              %i.icon-refresh
        .card-body
          = render 'messages/chat', class_room: @class_room, messages: @messages, profile: current_student_profile, chat_css_class: '-app'

  = render 'tutors_bar', class_rooms: @class_rooms