.card.c-tutor-card--v
  .card-body
    .card-top
      .c-tutor-card--v__avatar
        .c-tutor-card--v__image{ style: "background-image: url(#{image_path(tutor_profile.avatar)})" }
      .c-tutor-card--v__title
        .card-name
          %strong= tutor_profile.name
          %small.text-muted.nickname
            @#{tutor_profile.username}

  %ul.list-group.list-group-flush
    %li.list-group-item
      %i.icon-home
      = tutor_profile.city
    %li.list-group-item
      .card-price
        500грн/год
    %li.list-group-item
      %span.custom-badge Математика
      %span.custom-badge Фізика
      %span.custom-badge Xімія
    %li.list-group-item
      %span.text-muted Останній візит:
      %strong сьогодні
    %li.list-group-item
      %a.card-link{:href => "javascript:void(0);"}
        Переглянути профіль
        %i.fe.fe-arrow-right