= render 'search_form', search_url: students_tutor_profiles_path

.max-w-7xl.mx-auto.px-4{ class: 'sm:px-6.md:px-8' }
  #cards
    .dimmer
      .loader
    #tutors-collection
      - if @tutors.any?
        = render @tutors, cached: true
      - else
        = render 'no_found'