.chat_app
  .row
    .col-lg-8.col-md-12
      .card.bg-none.b-none
        .card-header.bline.pt-1
          .card-options
            %a.p-1.chat_list_btn{:href => "javascript:void(0)"}
              %i.icon-list
            %a.p-1{:href => "javascript:void(0)"}
              %i.icon-settings
        .chat-placeholder
          .chat-placeholder--text.bg-light-indigo
            = t('messages.select_chat')

  = render 'students_bar', class_rooms: @class_rooms