<div class="flex items-center justify-center">
  <div class="flex flex-col w-full p-4">
    <%= render 'breadcrumbs', class_room: nil %>
    <div class="chat-full-h flex">
      <div class="bg-indigo-darker text-purple-lighter flex-none pb-6 w-full lg:w-width285px">
        <%= render 'students_list', class_rooms: @class_rooms %>
      </div>

      <div class="flex-1 flex flex-col bg-white overflow-hidden items-center justify-center">
        <div class="px-6 py-2">
          <h3 class="font-bold m-auto">Оберіть чат, щоб почати бесіду</h3>
        </div>
      </div>
    </div>
  </div>
</div>