@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "dropzone/dist/min/dropzone.min.css";
@import "dropzone/dist/min/basic.min.css";

$red_color: #f56565;

.ava-xs {
  @apply inline-block h-4 w-4 rounded-full;
}

.ava-sm {
  @apply inline-block h-6 w-6 rounded-full;
}

.tw-sidebar {
  &-link {
    @apply flex items-center px-4 py-2 text-base leading-6 text-gray-900 rounded-md transition ease-in-out duration-150;

    &.active,
    &.active:hover {
      @apply bg-indigo-600 text-white font-medium;
    }

    &:hover {
      @apply text-gray-900 bg-indigo-100;
    }

    &:focus {
      @apply outline-none bg-indigo-300;
    }
  }

  &-icon {
    @apply mr-4 h-6 w-6 text-gray-800 transition ease-in-out duration-150;

    &.active {
      @apply text-white;
    }
  }
}

.tw-dropdown-link {
  @apply block px-4 py-2 text-sm text-gray-700 transition ease-in-out duration-150;

  &:hover {
    @apply bg-gray-100;
  }
}

.favorites-link {
  &.active,
  &.active:hover {
    color: $red_color;
    fill: $red_color;
  }

  &:hover {
    color: $red_color;
    svg {
      fill: $red_color;
    }
  }
}

.class-room {
  &.active {
    @apply bg-gray-300;
    .msg {
      @apply text-gray-700;
    }
  }
}

.chat-full-h {
  min-height: calc(100vh - 200px);
}

.chatbox-full-h {
  max-height: calc(100vh - 200px);
}

.input {
  @apply appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight;
}

.input:focus {
  @apply outline-none bg-white border-gray-400;
}

.label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}

.select {
  @apply appearance-none py-3 px-4 pr-8 block w-full bg-gray-100 border border-gray-300 text-gray-700
   rounded leading-tight;
  -webkit-appearance: none;
}

.select:focus {
  @apply outline-none bg-white border-gray-400;
}

.dropzone {
  @apply border-2 rounded-lg border-gray-400 border-dashed;

  &.dz-drag-hover {
    @apply border-2 rounded-lg border-gray-200 border-dashed;

    .dz-message {
      opacity: 0.9;
    }
  }
  .dz-preview {
    .dz-error-message {
      top: 150px;
    }
  }
}


.modal-enter {
  @apply transition ease-out duration-100;
}

.modal-enter-start {
  @apply transform opacity-0 scale-95;
}

.modal-enter-end {
  @apply transform opacity-100 scale-100;
}

.modal-leave {
  @apply transition ease-in duration-75;
}

.modal-leave-start {
  @apply transform opacity-100 scale-100;
}

.modal-leave-end {
  @apply transform opacity-0 scale-95;
}