<div class="relative" data-controller="dropdown">
  <div data-action="click->dropdown#toggle " role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
    <span class="group p-1 inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:text-gray-400 transition ease-in-out duration-150 text-gray-400">
      <span><%= t('feedback_form.top_link') %></span>
    </span>
  </div>

  <div data-dropdown-target="menu" class="absolute w-80 right-0 mt-2 hidden">
    <div id="feedback-form">
      <div class="rounded-lg shadow-xs overflow-hidden">
        <div class="z-20 relative grid gap-6 bg-white px-5 py-6 sm:gap-4 sm:p-4">
          <div class="-m-3 p-3 block space-y-1 rounded-md hover:bg-gray-50 transition ease-in-out duration-150">
            <%= render 'feedbacks/feedback_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>