#header_top.header_top
  .container
    .hleft
    .hright
      .dropdown
        %a.nav-link.icon.settingbar{ href: "javascript:void(0)" }
          %i.fa.fa-cog{ data: { placement: 'right', toggle: 'tooltip' }, title: 'Settings' }
        %a.nav-link.icon.menu_toggle{ href: 'javascript:void(0)' }
          %i.fa.fa-align-left
        .displaynone.show-sm= render 'layouts/partials/students/profile_dropdown'
