.pt-2.pb-6.md:py-6
  .max-w-7xl.mx-auto.px-4.sm:px-6.md:px-8
    %h1.text-lg.leading-6.font-medium.text-cool-gray-900.mb-4
      = t('students.favorite_tutors.title')
  .max-w-7xl.mx-auto.px-4.sm:px-6.md:px-8
    = render partial: 'students/tutor_profiles/tutor_profile', collection: @favorite_tutors, cached: true
