%div{class: 'relative w-full md:w-1/2', data: { controller: 'dropdown', 'dropdown-remote-url-value': lead_people_path(lead, source: 'dropdown', format: 'json')} }
  %h1{class: 'hb-header-title cursor-pointer flex items-center space-x-1', data: { 'dropdown-target': 'toggle', action: 'click->dropdown#toggle' }}
    %span= lead
    = inline_svg_tag('heroicons/md-selector.svg', class: 'w-6')

  %div{class: 'hidden rounded-md bg-white origin-top-left absolute left-0 w-full -mx-2 md:-mx-4 rounded-md shadow-lg border border-gray-300 z-10', data: { 'dropdown-target': 'menu' }}
    %div{class: 'p-2', data: { 'dropdown-target': 'content' }}
      = inline_svg_tag('spinner.svg', class: 'w-5 h-5 mx-auto my-5')