!!!
%html
  %head
    %title Studygo
    = render 'layouts/partials/head'
  %body
    #main_content
      = render 'layouts/partials/loader'
      .section-body
        .container-fluid
          .row.clearfix
            .col-lg-12.col-md-12.col-sm-12
              = yield