!!!
%html
  %head
    = render 'layouts/partials/head'
    = display_meta_tags noindex: true, nofollow: true
  %body.landing.font-montserrat
    = render 'layouts/partials/body_tag_manager'
    = yield