!!!
%html
  %head
    %title Studygo
    = render 'layouts/partials/head'
  %body.font-opensans
    .auth
      .auth_left
        .card
          .text-center.mb-5
            %a.header-brand{:href => "index.html"}
              %i.fe.fe-command.brand-logo
          = yield
      .auth_right
        .carousel.slide{"data-interval" => "3000", "data-ride" => "carousel"}
          .carousel-inner
            .carousel-item.active
              %img.img-fluid{:alt => "login page", :src => "../assets/images/slider1.svg"}/
              .px-4.mt-4
                %h4 Fully Responsive
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            .carousel-item
              %img.img-fluid{:alt => "login page", :src => "../assets/images/slider2.svg"}/
              .px-4.mt-4
                %h4 Quality Code and Easy Customizability
                %p There are many variations of passages of Lorem Ipsum available.
            .carousel-item
              %img.img-fluid{:alt => "login page", :src => "../assets/images/slider3.svg"}/
              .px-4.mt-4
                %h4 Cross Browser Compatibility
                %p Overview We're a group of women who want to learn JavaScript.
